<a href="https://colab.research.google.com/github/Sehajbirsingh/ML-1/blob/main/data_preprocessing_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
df=pd.read_csv('X_train.csv')

In [4]:
print(df.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [11]:
categorical_columns = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']
numerical_columns = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

# Handle categorical variables
# We'll use one-hot encoding for categorical variables
onehot = OneHotEncoder(sparse=False, handle_unknown='ignore')
ct = ColumnTransformer([("encoder", onehot, categorical_columns)], remainder='passthrough')

# Fit and transform the data
X = ct.fit_transform(df)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [12]:
# Get the new column names
onehot_columns = ct.named_transformers_['encoder'].get_feature_names(categorical_columns)
all_columns = np.concatenate([onehot_columns, numerical_columns])

# Create a new dataframe with encoded features
df_encoded = pd.DataFrame(X, columns=all_columns, index=df.index)

# Add back the Loan_ID column
df_encoded['Loan_ID'] = df['Loan_ID']

# Display the first few rows of the processed dataset
print(df_encoded.head())

AttributeError: 'OneHotEncoder' object has no attribute 'get_feature_names'

In [13]:
# Simple Loan Data Preprocessing Task

import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('X_train.csv')

# Display the first few rows and basic information
print(df.head())
print(df.info())

# Check for missing values
print(df.isnull().sum())

# Identify categorical and numerical columns
categorical_columns = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']
numerical_columns = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

# Handle categorical variables using pandas get_dummies
df_encoded = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

# Reorder columns to group encoded features
columns_order = ['Loan_ID'] + [col for col in df_encoded.columns if col.startswith(tuple(categorical_columns))] + numerical_columns
df_encoded = df_encoded[columns_order]

# Display the first few rows of the processed dataset
print(df_encoded.head())

# Display basic information about the processed dataset
print(df_encoded.info())

# Summary statistics of the processed dataset
print(df_encoded.describe())

# Save the processed dataset
df_encoded.to_csv('processed_loan_data.csv', index=False)
print("Processed data saved to 'processed_loan_data.csv'")

    Loan_ID Gender Married Dependents Education Self_Employed  \
0  LP001032   Male      No          0  Graduate            No
1  LP001824   Male     Yes          1  Graduate            No
2  LP002928   Male     Yes          0  Graduate            No
3  LP001814   Male     Yes          2  Graduate            No
4  LP002244   Male     Yes          0  Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             4950                0.0         125               360
1             2882             1843.0         123               480
2             3000             3416.0          56               180
3             9703                0.0         112               360
4             2333             2417.0         136               360

   Credit_History Property_Area
0               1         Urban
1               1     Semiurban
2               1     Semiurban
3               1         Urban
4               1         Urban
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            384 non-null    object
 1   Gender             384 non-null    object
 2   Married            384 non-null    object
 3   Dependents         384 non-null    object
 4   Education          384 non-null    object
 5   Self_Employed      384 non-null    object
 6   ApplicantIncome    384 non-null    int64
 7   CoapplicantIncome  384 non-null    float64
 8   LoanAmount         384 non-null    int64
 9   Loan_Amount_Term   384 non-null    int64
 10  Credit_History     384 non-null    int64
 11  Property_Area      384 non-null    object
dtypes: float64(1), int64(4), object(7)
memory usage: 36.1+ KB
None
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64
    Loan_ID  Gender_Male  Married_Yes  Dependents_1  Dependents_2  \
0  LP001032         True        False         False         False
1  LP001824         True         True          True         False
2  LP002928         True         True         False         False
3  LP001814         True         True         False          True
4  LP002244         True         True         False         False

   Dependents_3+  Education_Not Graduate  Self_Employed_Yes  \
0          False                   False              False
1          False                   False              False
2          False                   False              False
3          False                   False              False
4          False                   False              False

   Property_Area_Semiurban  Property_Area_Urban  ApplicantIncome  \
0                    False                 True             4950
1                     True                False             2882
2                     True                False             3000
3                    False                 True             9703
4                    False                 True             2333

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History
0                0.0         125               360               1
1             1843.0         123               480               1
2             3416.0          56               180               1
3                0.0         112               360               1
4             2417.0         136               360               1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Loan_ID                  384 non-null    object
 1   Gender_Male              384 non-null    bool
 2   Married_Yes              384 non-null    bool
 3   Dependents_1             384 non-null    bool
 4   Dependents_2             384 non-null    bool
 5   Dependents_3+            384 non-null    bool
 6   Education_Not Graduate   384 non-null    bool
 7   Self_Employed_Yes        384 non-null    bool
 8   Property_Area_Semiurban  384 non-null    bool
 9   Property_Area_Urban      384 non-null    bool
 10  ApplicantIncome          384 non-null    int64
 11  CoapplicantIncome        384 non-null    float64
 12  LoanAmount               384 non-null    int64
 13  Loan_Amount_Term         384 non-null    int64
 14  Credit_History           384 non-null    int64
dtypes: bool(9), float64(1), int64(4), object(1)
memory usage: 21.5+ KB
None
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       384.000000         384.000000  384.000000        384.000000
mean       5149.718750        1572.077917  141.471354        342.093750
std        5304.921764        2624.223119   75.176271         65.846658
min         150.000000           0.000000    9.000000         36.000000
25%        2898.750000           0.000000  100.000000        360.000000
50%        3893.500000        1188.500000  128.000000        360.000000
75%        5819.500000        2259.250000  164.250000        360.000000
max       81000.000000       33837.000000  600.000000        480.000000

       Credit_History
count      384.000000
mean         0.856771
std          0.350763
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Processed data saved to 'processed_loan_data.csv'

In [14]:
import pandas as pd
import numpy as np

# Step 2: Loading the dataset
df = pd.read_csv('X_train.csv')

# Step 3: Exploring the dataset
print("Data Preview:")
print(df.head())

print("\nData Info:")
print(df.info())

print("\nMissing Values:")
print(df.isnull().sum())

Data Preview:
    Loan_ID Gender Married Dependents Education Self_Employed  \
0  LP001032   Male      No          0  Graduate            No
1  LP001824   Male     Yes          1  Graduate            No
2  LP002928   Male     Yes          0  Graduate            No
3  LP001814   Male     Yes          2  Graduate            No
4  LP002244   Male     Yes          0  Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             4950                0.0         125               360
1             2882             1843.0         123               480
2             3000             3416.0          56               180
3             9703                0.0         112               360
4             2333             2417.0         136               360

   Credit_History Property_Area
0               1         Urban
1               1     Semiurban
2               1     Semiurban
3               1         Urban
4               1         Urban

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            384 non-null    object
 1   Gender             384 non-null    object
 2   Married            384 non-null    object
 3   Dependents         384 non-null    object
 4   Education          384 non-null    object
 5   Self_Employed      384 non-null    object
 6   ApplicantIncome    384 non-null    int64
 7   CoapplicantIncome  384 non-null    float64
 8   LoanAmount         384 non-null    int64
 9   Loan_Amount_Term   384 non-null    int64
 10  Credit_History     384 non-null    int64
 11  Property_Area      384 non-null    object
dtypes: float64(1), int64(4), object(7)
memory usage: 36.1+ KB
None

Missing Values:
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [15]:
# We can use one-hot encoding or label encoding. Let's use label encoding for simplicity here.
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

print("\nData after Label Encoding:")
print(df.head())

Data after Label Encoding:
    Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0  LP001032       1        0           0          0              0
1  LP001824       1        1           1          0              0
2  LP002928       1        1           0          0              0
3  LP001814       1        1           2          0              0
4  LP002244       1        1           0          0              0

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             4950                0.0         125               360
1             2882             1843.0         123               480
2             3000             3416.0          56               180
3             9703                0.0         112               360
4             2333             2417.0         136               360

   Credit_History  Property_Area
0               1              2
1               1              1
2               1              1
3               1              2
4               1              2

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print("\nData after Normalization:")
print(df.head())

Data after Normalization:
    Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0  LP001032       1        0           0          0              0
1  LP001824       1        1           1          0              0
2  LP002928       1        1           0          0              0
3  LP001814       1        1           2          0              0
4  LP002244       1        1           0          0              0

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0         0.059369           0.000000    0.196277          0.729730
1         0.033791           0.054467    0.192893          1.000000
2         0.035250           0.100955    0.079526          0.324324
3         0.118157           0.000000    0.174281          0.729730
4         0.027001           0.071431    0.214890          0.729730

   Credit_History  Property_Area
0             1.0              2
1             1.0              1
2             1.0              1
3             1.0              2
4             1.0              2

In [17]:
df.to_csv('processed_data.csv', index=False)
print("Processed data saved as 'processed_data.csv'")

Processed data saved as 'processed_data.csv'